* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  /* min-height: 100vh; */
  position: relative;
}
.logo {
  position: fixed;
  right: 20px;
  top: 100px;
  width: 54px;
  height: 54px;
  background: #ffffff url(./imgs/logo.png) center center no-repeat;
  background-size: 48px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.one {
  background: url(./imgs/a.png) top center no-repeat;
  background-size: cover;
  height: 520px;
  padding: 48px 0px;
  /* height: calc(100vh - 81px); */
  /* margin-top: -50px; */
}

.flex1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.top {
  text-align: center;
  color: #282828;
  font-size: 30px;
  font-weight: 900;
  padding: 18px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.text1 {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.text2 {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
.btn {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px #fff solid;
  padding: 4px 8px;
  margin-top: 16px;
}

.item {
  padding: 24px 16px;
}

.twoBg {
  background: url(./imgs/b.png) top center no-repeat;
  background-size: cover;
  height: 220px;
}
.threeBg {
  background: url(./imgs/c.png) top center no-repeat;
  background-size: cover;
  height: 220px;
}
.fourBg {
  background: url(./imgs/d.png) top center no-repeat;
  background-size: cover;
  height: 220px;
}
.fiveBg {
  background: url(./imgs/e.png) top center no-repeat;
  background-size: cover;
  height: 220px;
}

.text3 {
  color: #6f6f6f;
  font-size: 22px;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  word-break: break-all;
  margin-top: 12px;
}
